@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --sds-size-space-200: 8px;
  --Blur-10: 10px;
  --sds-size-radius-200: 4px;
  --sds-size-stroke-border: 0.8;
  --Black: #121212;
  --White: #fff;

  --font-KR-button-font-family: 'Noto Sans KR', Helvetica;
  --font-KR-button-font-size: 14px;
  --font-KR-button-font-style: normal;
  --font-KR-button-font-weight: 400;
  --font-KR-button-letter-spacing: -0.28px;
  --font-KR-button-line-height: 1.3;

  --temperature-60-font-size: 60px;
  --temperature-60-font-weight: 400;
  --temperature-60-line-height: 106%;
  --temperature-60-letter-spacing: -1.2px;
  --temperature-60-font-style: normal;
  --: 4px 4px 20px 0px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  --black-100: var(--palette-black-100);
  --black-200: var(--palette-black-200);
  --black-300: var(--palette-black-300);
  --black-400: var(--palette-black-400);
  --black-500: var(--palette-black-500);
  --black-600: var(--palette-black-600);
  --black-700: var(--palette-black-700);
  --black-800: var(--palette-black-800);
  --black-900: var(--palette-black-900);
  --blue-100: rgba(212, 239, 255, 1);
  --blue-200: rgba(169, 220, 255, 1);
  --blue-300: rgba(126, 197, 255, 1);
  --blue-400: rgba(94, 176, 255, 1);
  --blue-500: rgba(41, 140, 255, 1);
  --blue-600: rgba(29, 108, 219, 1);
  --blue-700: rgba(20, 80, 183, 1);
  --blue-800: rgba(13, 56, 147, 1);
  --blue-900: rgba(7, 39, 122, 1);
  --body-EN-medium-font-family: 'Inter', Helvetica;
  --body-EN-medium-font-size: 16px;
  --body-EN-medium-font-style: normal;
  --body-EN-medium-font-weight: 400;
  --body-EN-medium-letter-spacing: 0px;
  --body-EN-medium-line-height: 150%;
  --body-KR-large-font-family: 'Noto Sans KR', Helvetica;
  --body-KR-large-font-size: 18px;
  --body-KR-large-font-style: normal;
  --body-KR-large-font-weight: 400;
  --body-KR-large-letter-spacing: -0.36px;
  --body-KR-large-line-height: 150%;
  --body-KR-medium-font-family: 'Noto Sans KR', Helvetica;
  --body-KR-medium-font-size: 16px;
  --body-KR-medium-font-style: normal;
  --body-KR-medium-font-weight: 400;
  --body-KR-medium-letter-spacing: -0.32px;
  --body-KR-medium-line-height: 150%;
  --body-KR-small-font-family: 'Noto Sans KR', Helvetica;
  --body-KR-small-font-size: 14px;
  --body-KR-small-font-style: normal;
  --body-KR-small-font-weight: 400;
  --body-KR-small-letter-spacing: -0.28px;
  --body-KR-small-line-height: 150%;
  --button-font-family: 'Noto Sans KR', Helvetica;
  --button-font-size: 16px;
  --button-font-style: normal;
  --button-font-weight: 500;
  --button-letter-spacing: -0.32px;
  --button-line-height: 129.99999523162842%;
  --caption-font-family: 'Noto Sans KR', Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: -0.24px;
  --caption-line-height: 129.99999523162842%;
  --headline-01-font-family: 'Noto Sans KR', Helvetica;
  --headline-01-font-size: 48px;
  --headline-01-font-style: normal;
  --headline-01-font-weight: 400;
  --headline-01-letter-spacing: -0.96px;
  --headline-01-line-height: 114.99999761581421%;
  --headline-02-font-family: 'Noto Sans KR', Helvetica;
  --headline-02-font-size: 34px;
  --headline-02-font-style: normal;
  --headline-02-font-weight: 400;
  --headline-02-letter-spacing: -0.68px;
  --headline-02-line-height: 114.99999761581421%;
  --headline-03-font-family: 'Noto Sans KR', Helvetica;
  --headline-03-font-size: 24px;
  --headline-03-font-style: normal;
  --headline-03-font-weight: 700;
  --headline-03-letter-spacing: -0.48px;
  --headline-03-line-height: 129.99999523162842%;
  --headline-04-font-family: 'Noto Sans KR', Helvetica;
  --headline-04-font-size: 20px;
  --headline-04-font-style: normal;
  --headline-04-font-weight: 700;
  --headline-04-letter-spacing: -0.4px;
  --headline-04-line-height: 129.99999523162842%;
  --icon-button: 0px 0px 4px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  --KR-button-font-family: 'Noto Sans KR', Helvetica;
  --KR-button-font-size: 14px;
  --KR-button-font-style: normal;
  --KR-button-font-weight: 400;
  --KR-button-letter-spacing: -0.28px;
  --KR-button-line-height: 129.99999523162842%;
  --KR-label-font-family: 'Noto Sans KR', Helvetica;
  --KR-label-font-size: 14px;
  --KR-label-font-style: normal;
  --KR-label-font-weight: 500;
  --KR-label-letter-spacing: -0.28px;
  --KR-label-line-height: 120.00000476837158%;
  --orange-100: rgba(255, 242, 208, 1);
  --orange-200: rgba(255, 225, 162, 1);
  --orange-300: rgba(255, 204, 116, 1);
  --orange-400: rgba(255, 183, 81, 1);
  --orange-500: rgba(255, 149, 24, 1);
  --orange-600: rgba(219, 117, 17, 1);
  --orange-700: rgba(183, 89, 12, 1);
  --orange-800: rgba(147, 64, 7, 1);
  --orange-900: rgba(122, 46, 4, 1);
  --palette-black: rgba(18, 18, 18, 1);
  --palette-black-100: rgba(230, 230, 230, 0.6);
  --palette-black-200: rgba(204, 204, 204, 0.7);
  --palette-black-300: rgba(179, 179, 179, 1);
  --palette-black-400: rgba(153, 153, 153, 1);
  --palette-black-500: rgba(128, 128, 128, 1);
  --palette-black-600: rgba(102, 102, 102, 1);
  --palette-black-700: rgba(77, 77, 77, 1);
  --palette-black-800: rgba(51, 51, 51, 1);
  --palette-black-900: rgba(26, 26, 26, 1);
  --palette-blue-100: rgba(212, 239, 255, 0.7);
  --palette-blue-200: rgba(169, 220, 255, 1);
  --palette-blue-300: rgba(126, 197, 255, 0.6);
  --palette-blue-400: rgba(94, 176, 255, 0.8);
  --palette-blue-500: rgba(41, 140, 255, 0.8);
  --palette-blue-600: rgba(29, 108, 219, 1);
  --palette-blue-700: rgba(20, 80, 183, 1);
  --palette-blue-800: rgba(13, 56, 147, 1);
  --palette-blue-900: rgba(7, 39, 122, 1);
  --palette-orange-100: rgba(255, 242, 208, 1);
  --palette-orange-200: rgba(255, 225, 162, 1);
  --palette-orange-300: rgba(255, 204, 116, 1);
  --palette-orange-400: rgba(255, 183, 81, 1);
  --palette-orange-500: rgba(255, 149, 24, 1);
  --palette-orange-600: rgba(219, 117, 17, 1);
  --palette-orange-700: rgba(183, 89, 12, 1);
  --palette-orange-800: rgba(147, 64, 7, 1);
  --palette-orange-900: rgba(122, 46, 4, 1);
  --palette-red-100: rgba(255, 231, 214, 1);
  --palette-red-200: rgba(255, 201, 173, 1);
  --palette-red-300: rgba(255, 164, 131, 1);
  --palette-red-400: rgba(255, 129, 101, 1);
  --palette-red-500: rgba(255, 71, 50, 0.85);
  --palette-red-600: rgba(219, 40, 36, 1);
  --palette-red-700: rgba(183, 25, 34, 1);
  --palette-red-800: rgba(147, 15, 34, 1);
  --palette-red-900: rgba(122, 9, 34, 1);
  --palette-white: rgba(255, 255, 255, 1);
  --palette-yellow-100: rgba(255, 247, 212, 1);
  --palette-yellow-200: rgba(255, 238, 169, 1);
  --palette-yellow-300: rgba(255, 226, 126, 1);
  --palette-yellow-400: rgba(255, 214, 94, 0.8);
  --palette-yellow-500: rgba(255, 195, 41, 0.8);
  --palette-yellow-600: rgba(219, 160, 29, 1);
  --palette-yellow-700: rgba(183, 128, 20, 1);
  --palette-yellow-800: rgba(147, 98, 13, 1);
  --palette-yellow-900: rgba(122, 77, 7, 1);
}

[data-palette-mode='light'] {
  --palette-black: rgba(18, 18, 18, 1);
  --palette-black-100: rgba(230, 230, 230, 0.6);
  --palette-black-200: rgba(204, 204, 204, 0.7);
  --palette-black-900: rgba(26, 26, 26, 1);
  --palette-blue-100: rgba(212, 239, 255, 0.7);
  --palette-blue-200: rgba(169, 220, 255, 1);
  --palette-blue-300: rgba(126, 197, 255, 0.6);
  --palette-blue-400: rgba(94, 176, 255, 0.8);
  --palette-blue-500: rgba(41, 140, 255, 0.8);
  --palette-blue-600: rgba(29, 108, 219, 1);
  --palette-blue-700: rgba(20, 80, 183, 1);
  --palette-blue-800: rgba(13, 56, 147, 1);
  --palette-blue-900: rgba(7, 39, 122, 1);
  --palette-orange-100: rgba(255, 242, 208, 1);
  --palette-orange-200: rgba(255, 225, 162, 1);
  --palette-orange-400: rgba(255, 183, 81, 1);
  --palette-orange-500: rgba(255, 149, 24, 1);
  --palette-orange-600: rgba(219, 117, 17, 1);
  --palette-orange-700: rgba(183, 89, 12, 1);
  --palette-orange-800: rgba(147, 64, 7, 1);
  --palette-orange-900: rgba(122, 46, 4, 1);
  --palette-red-100: rgba(255, 231, 214, 1);
  --palette-red-200: rgba(255, 201, 173, 1);
  --palette-red-400: rgba(255, 129, 101, 1);
  --palette-red-500: rgba(255, 71, 50, 0.85);
  --palette-red-600: rgba(219, 40, 36, 1);
  --palette-red-700: rgba(183, 25, 34, 1);
  --palette-red-800: rgba(147, 15, 34, 1);
  --palette-red-900: rgba(122, 9, 34, 1);
  --palette-white: rgba(255, 255, 255, 1);
  --palette-yellow-100: rgba(255, 247, 212, 1);
  --palette-yellow-200: rgba(255, 238, 169, 1);
  --palette-yellow-300: rgba(255, 226, 126, 1);
  --palette-yellow-400: rgba(255, 214, 94, 1);
  --palette-yellow-500: rgba(255, 195, 41, 1);
  --palette-yellow-600: rgba(219, 160, 29, 1);
  --palette-yellow-700: rgba(183, 128, 20, 1);
  --palette-yellow-800: rgba(147, 98, 13, 1);
  --palette-yellow-900: rgba(122, 77, 7, 1);
}

[data-palette-mode='dark'] {
  --palette-black: rgba(255, 255, 255, 1);
  --palette-black-100: rgba(230, 230, 230, 0.2);
  --palette-black-200: rgba(228, 228, 228, 0.2);
  --palette-black-900: rgba(230, 230, 230, 1);
  --palette-blue-100: rgba(0, 43, 68, 0.7);
  --palette-blue-200: rgba(0, 67, 111, 1);
  --palette-blue-300: rgba(126, 197, 255, 1);
  --palette-blue-400: rgba(87, 174, 255, 1);
  --palette-blue-500: rgba(67, 155, 255, 0.8);
  --palette-blue-600: rgba(46, 122, 227, 1);
  --palette-blue-700: rgba(23, 90, 206, 1);
  --palette-blue-800: rgba(15, 64, 170, 1);
  --palette-blue-900: rgba(8, 47, 146, 1);
  --palette-orange-100: rgba(72, 52, 0, 1);
  --palette-orange-200: rgba(118, 81, 0, 1);
  --palette-orange-400: rgba(255, 193, 107, 1);
  --palette-orange-500: rgba(255, 159, 49, 1);
  --palette-orange-600: rgba(237, 131, 24, 1);
  --palette-orange-700: rgba(207, 101, 14, 1);
  --palette-orange-800: rgba(171, 73, 8, 1);
  --palette-orange-900: rgba(153, 51, 51, 1);
  --palette-red-100: rgba(66, 28, 0, 1);
  --palette-red-200: rgba(107, 36, 0, 1);
  --palette-red-400: rgba(255, 150, 127, 1);
  --palette-red-500: rgba(255, 93, 76, 1);
  --palette-red-600: rgba(223, 61, 58, 1);
  --palette-red-700: rgba(205, 28, 37, 1);
  --palette-red-800: rgba(170, 17, 40, 1);
  --palette-red-900: rgba(146, 11, 40, 1);
  --palette-white: rgba(18, 18, 18, 1);
  --palette-yellow-100: rgba(68, 56, 0, 1);
  --palette-yellow-200: rgba(111, 89, 0, 1);
  --palette-yellow-300: rgba(255, 227, 126, 1);
  --palette-yellow-400: rgba(255, 221, 120, 1);
  --palette-yellow-500: rgba(255, 202, 67, 1);
  --palette-yellow-600: rgba(227, 170, 46, 1);
  --palette-yellow-700: rgba(206, 145, 23, 1);
  --palette-yellow-800: rgba(170, 113, 15, 1);
  --palette-yellow-900: rgba(146, 93, 8, 1);
}

[data-semantic-mode='light'] {
  --semantic-bg: rgba(250, 250, 250, 1);
  --semantic-bg-box: rgba(255, 255, 255, 0.5);
  --semantic-bg-header: rgba(255, 255, 255, 0.8);
  --semantic-bg-icon: rgba(255, 255, 255, 0.6);
  --semantic-box-text: rgba(18, 18, 18, 0.7);
  --semantic-shadow-long-black: rgba(18, 18, 18, 0.05);
  --semantic-shadow-object-black: rgba(18, 18, 18, 0.15);
  --semantic-shadow-object-white: rgba(255, 255, 255, 0.3);
  --semantic-text-box: rgba(255, 255, 255, 0.5);
}

[data-semantic-mode='dark'] {
  --semantic-bg: rgba(18, 18, 18, 1);
  --semantic-bg-box: rgba(255, 255, 255, 0.2);
  --semantic-bg-header: rgba(255, 255, 255, 0.2);
  --semantic-bg-icon: rgba(18, 18, 18, 0.2);
  --semantic-box-text: rgba(255, 255, 255, 0.7);
  --semantic-shadow-long-black: rgba(255, 255, 255, 0.1);
  --semantic-shadow-object-black: rgba(255, 255, 255, 0.3);
  --semantic-shadow-object-white: rgba(18, 18, 18, 0.15);
  --semantic-text-box: rgba(255, 255, 255, 0.1);
}

.weather-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-info .info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  width: 80px;
  text-align: center;
}

.weather-info .info-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  width: 320px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.open {
  transform: translate(-50%, 0);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* 홈 버튼 스타일 */
.navbar ul li:first-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px; /* 크기 설정 */
  height: 36px; /* 높이 설정 */
  background-color: black; /* 배경색: 검정색 */
  color: white; /* 글자색: 흰색 */
  text-decoration: none;
  border-radius: 18px; /* 둥근 모서리 */
  font-size: 16px; /* 글자 크기 */
  font-weight: bold; /* 글자 굵기 */
  margin-bottom: 20px; /* 홈 버튼과 아래 항목 간격 설정 */
}

/* 나머지 메뉴 항목 스타일 */
.navbar ul li:not(:first-child) a {
  display: block;
  text-align: center;
  color: #4d4d4d; /* 텍스트 색상 */
  font-family: 'Noto Sans KR'; /* 글꼴 설정 */
  font-size: 16px; /* 글자 크기 */
  font-weight: 400; /* 글자 굵기 */
  line-height: 24px; /* 줄 간격 */
  letter-spacing: -0.32px; /* 자간 */
  margin-top: 18px; /* 각 메뉴 항목 사이의 간격 */
}

/* X 버튼 스타일 */
.navbar-close {
  position: absolute;
  bottom: 134px; /* 1번째 사진의 위치에 맞춤 */
  left: 50%;
  transform: translateX(-50%);
  width: 46px; /* X 버튼의 너비 설정 */
  height: 46px; /* X 버튼의 높이 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px; /* X의 크기 설정 */
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

/* 이미지 스와이퍼 부분 */
.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  width: 18px !important;
  border-radius: 100px !important;
  border: 1px solid white;
}

.swiper-pagination {
  margin-bottom: 10px;
}
/* listPage 스타일 */

.list-icon {
  border-radius: 2px;
  background: #fff;
  backdrop-filter: blur(10px);
}
.list-icon-border {
  border-radius: 4px;
  border: var(--sds-size-stroke-border) solid
    var(--Bg_icon, rgba(255, 255, 255, 0.6));
  opacity: var(--sds-size-stroke-border);
  background: var(--text-box, rgba(255, 255, 255, 0.5));
}
.icon-box {
  border-radius: 4px;
  border: var(--sds-size-stroke-border) solid
    var(--Bg_icon, rgba(255, 255, 255, 0.6));
  opacity: var(--sds-size-stroke-border);
  background: var(--text-box, rgba(255, 255, 255, 0.5));
}
.list-header {
  width: 320px;
  height: 50px;
  padding: 8px 12px 9px 14px;
  gap: 155px;
}

/* 모달 글자 부분 */
.text {
  color: var(--text, #4d4d4d);
  text-align: center;

  /* Caption */
  font-family: 'Noto Sans KR';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.24px;
}

/* 모달 배경 부분 */
.box-shadow {
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.05),
    4px 4px var(--Blur-20, 20px) 0px rgba(0, 0, 0, 0.05);
}
.backdrop-filter {
  backdrop-filter: blur(calc(var(--Blur-20, 20px) / 2));
}

.background {
  background: var(--Bg_Header, rgba(255, 255, 255, 0.8));
}

/* 모달 이미지 부분 */
.middle-box-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
}
.middle-backdrop-filter {
  backdrop-filter: blur(5px);
}

.section-box {
  padding: 0 16px; /* 좌우에 일정한 패딩을 추가 */
  box-sizing: border-box;
}

.container {
  width: 320px;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 60px;
  box-sizing: border-box;
}

/* 반응형 조정 */
@media (min-width: 768px) {
  .content {
    width: 480px;
    height: 724px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow:
      0px 0px 2px 0px rgba(0, 0, 0, 0.05),
      4px 4px 20px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    margin-top: 46px; /* 헤더와의 간격 */
    margin-bottom: 200px; /* 푸터와의 간격 */
    margin-left: auto; /* 좌우 간격 */
    margin-right: auto; /* 좌우 간격 */
  }
}

/* detail 부분 */
.deleteButton {
  padding: var(--sds-size-space-200) var(--Blur-10, 10px);
}
.editButton {
  padding: var(--sds-size-space-200) var(--Blur-10, 10px);
}
.detail-icon {
  border-radius: 8px;
  background: #fff;
  backdrop-filter: blur(10px);
  width: 28px;
  height: 28px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* myPage 부분 */
.myPage-header {
  width: 288px;
  padding: 4px 8px 10px 8px;
  border-radius: 16px;
  border-bottom: 1px solid var(--Bg_icon, rgba(255, 255, 255, 0.6));
  background: var(--White, #fff);
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.05),
    4px 4px var(--Blur-8, 8px) 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(calc(var(--Blur-20, 20px) / 2));
}
.myPage-Liked-style {
  color: var(--text, #4d4d4d);
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.32px;
  flex: 1 0 0;
}
.myPage-style {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.myPage-backHeart {
  stroke-width: 2px;
  stroke: var(--text-box, rgba(255, 255, 255, 0.5));
  opacity: var(--sds-size-stroke-border);
  filter: blur(10px);
  transform: rotate(8.554deg);
}
.myPage-style-button {
  width: 232px;
  background: var(--Black, #121212);
}
.myPage-style-text {
  color: var(--White, #fff);

  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.32px;
}

.weather-slide {
  margin-right: 4px;
  flex-shrink: 0;
}

/* 주현우 메인 페이지 박스 Gradient */
/* .gradient-border {
  position: relative;
  z-index: 0;
}

.gradient-border:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  background: linear-gradient(
    37deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  border-radius: inherit;
  pointer-events: none;
} */
/* myStyle 부분 */
.my-style-page-header {
  border-radius: 16px;
  border-bottom: var(--sds-size-stroke-border) solid
    var(--Bg_icon, rgba(255, 255, 255, 0.6));
  opacity: var(--sds-size-stroke-border);
  background: var(--White, #fff);
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.05),
    4px 4px var(--Blur-8, 8px) 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(calc(var(--Blur-20, 20px) / 2));
}
.myStyle-button {
  display: flex;
  width: 288px;
  justify-content: center;
  align-items: center;
  background: var(--Black, #121212);
}

/* 게시글 작성 페이지 */
.font-NotoSansKR {
  font-family: var(--font-KR-button-font-family);
}

.font-KR-button {
  font-family: var(--font-KR-button-font-family);
  font-size: var(--font-KR-button-font-size);
  font-style: var(--font-KR-button-font-style);
  font-weight: var(--font-KR-button-font-weight);
  letter-spacing: var(--font-KR-button-letter-spacing);
  line-height: var(--font-KR-button-line-height);
}

.opacity-sds-stroke-border {
  opacity: var(--sds-size-stroke-border);
}

.bg-black-121212 {
  background-color: var(--Black);
}

.rounded-sds-200 {
  border-radius: var(--sds-size-radius-200);
}

.px-blur-10 {
  padding-left: var(--Blur-10);
  padding-right: var(--Blur-10);
}

.py-sds-200 {
  padding-top: var(--sds-size-space-200);
  padding-bottom: var(--sds-size-space-200);
}

/* 게시글 작성 페이지 */
.font-NotoSansKR {
  font-family: var(--font-KR-button-font-family);
}

.font-KR-button {
  font-family: var(--font-KR-button-font-family);
  font-size: var(--font-KR-button-font-size);
  font-style: var(--font-KR-button-font-style);
  font-weight: var(--font-KR-button-font-weight);
  letter-spacing: var(--font-KR-button-letter-spacing);
  line-height: var(--font-KR-button-line-height);
}

.opacity-sds-stroke-border {
  opacity: var(--sds-size-stroke-border);
}

.bg-black-121212 {
  background-color: var(--Black);
}

.rounded-sds-200 {
  border-radius: var(--sds-size-radius-200);
}

.px-blur-10 {
  padding-left: var(--Blur-10);
  padding-right: var(--Blur-10);
}

.py-sds-200 {
  padding-top: var(--sds-size-space-200);
  padding-bottom: var(--sds-size-space-200);
}

/* 768px 이하 화면에서의 스타일 */
@media (max-width: 767px) {
  .survey-container {
    width: 100%;
    max-width: full;
    margin: 0 auto;
    padding-top: 70px;
    box-sizing: border-box;
    background-color: #fafafa;
  }
  .question-navigation {
    position: absolute;
    right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Varela;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    width: 31px;
    margin-top: -20px;
  }

  .survey-content {
    width: 100%;
    padding: 20px; /* 내부 패딩 추가 */
    margin-top: 80px; /* 상단 여백 조정 */
    margin-bottom: 0px; /* 하단 여백 조정 */    
    backdrop-filter: blur(5px);
    background-color: #fafafa;
  }

  object {
    width: 100%;
    max-width: 288px;
    height: auto;
  }

  .survey-text {
    font-size: 16px; /* 320px에서의 폰트 크기 */
    margin-top: 10px;
    text-align: center;
  }

  .start-button {
    width: 100%;
    max-width: 288px; /* 320px에서의 버튼 너비 */
    padding: 10px 12px;
    margin-top: 15px;
    border-radius: 8px;
    background: var(--Black, #121212);
    color: #fff;
    text-align: center;
  }
}

/* 768px 이상  설문 첫 화면에서의 스타일 */
@media (min-width: 768px) {
  .survey-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 20px;
    border-radius: 20px;
  }

  .survey-content {
    width: 480px;
    height: 724px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-top: 32px;
    margin-bottom: 210px;
    border-radius: 20px;
  }

  .question-navigation {
    position: absolute;
    top: 20px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    width: 32px;
    height: 32px;
    margin-left: -75px;
  }
  .survey-text {
    font-size: 18px; 
  }
  .start-button {
    width: 100%;
    max-width: 400px;
  }
}
/* 320px 이하 질문 화면에서의 스타일 */
@media (max-width: 767px) {
  /* Q와 헤더 간의 y 간격을 통일 */
  .items2 {
    margin-top: 20px; /* 헤더와 Q 간의 y 간격 */
  }
  .item {
    margin-top: -20px;
  }

  .question-container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: -20px;
    padding-bottom: 0px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }

  .question-container > div {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px; 
  }

  .question-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .question-back-button {
    margin-top: -510px;
    margin-left: -170px;
    width: 40px; 
    height: 40px; 
    position: absolute;
  }

  .question-number {
    font-size: 18px;
    color: #666;
    margin-right: -315px;
    margin-top: -510px;
    position: absolute;
  }

  .question-container .w-80 {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: -100px;
  }

  .question-container .w-80 > .question-navigation {
    margin-bottom: 16px;
  }

  .question-container .w-80 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  /* 320px에서의 Q, 질문과의 간격, 선택지 간 간격 설정 */
  .items2 {
    margin-top: 20px; /* 헤더와 Q 간의 y 간격 */
  }

  .items3,
  .items4 {
    margin-top: 50px; /* Q와 질문 간의 y 간격 */
  }

  .card-div {
    margin-top: 16px; /* 질문과 선택지 간의 y 간격 */
  }
  .card-div2 {
    margin-top: 55px; /* 질문과 선택지 간의 y 간격 */
  }
  .card-div3 {
    margin-top: 70px; /* 질문과 선택지 간의 y 간격 */
  }
  .card-div4 {
    margin-bottom: -53px;
  }
  .two-text {
    position: relative;
    top: -20px;
  }
  .card-div5 {
    margin-bottom: 75px;
  }
  .div5-down {
    position: relative; /* 다른 요소의 위치에 영향을 받지 않게 설정 */
    top: 10px; 
  }
  .card-div6 {
    margin-bottom: 47px;
  }
  .next-btn {
    position: relative;
    top: -50px; 
  }
  .result-btn {
    position: relative; 
    top: 100px; 
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px; /* 선택지 간 간격 */
  }
}

/* 768px 이상 질문 화면에서의 스타일 */
@media (min-width: 768px) {
  .question-container {
    display: flex;
    justify-content: center;
    padding-top: -30px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .question-back-button {
    margin-left: -115px;
    position: relative;
    top: -145px;
    width: 40px;
    height: 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .card-div {
    margin-top: 69px; /* 질문과 선택지 간의 y 간격 */
    position: relative;
  }

  .question-number {
    font-size: 18px;
    color: #666;
    margin-right: -310px;
    margin-top: -295px;
    position: relative;
  }

  .items {
    margin-top: -50px; /* Q와 질문 간의 y 간격을 통일 */
  }
  .text-1 {
    position: relative; 
    bottom: -24px; 
  }

  .items2 {
    margin-top: 110px; /* Q와 질문 간의 y 간격을 통일 */
    position: relative;
  }

  .text-2 {
    position: relative; 
    bottom: -24px; 
  }

  .items3 {
    margin-top: 125px; 
    position: relative;
  }

  .text-3 {
    position: relative; 
    bottom: -24px; 
  }

  .items4 {
    margin-top: 52px; /* Q와 질문 간의 y 간격을 통일 */
    position: relative;
  }

  .text-4 {
    position: relative; 
    bottom: -24px; 
  }

  .stext-4 {
    position: relative; 
    bottom: -27px; 
  }

  .items5 {
    margin-top: 162px; /* Q와 질문 간의 y 간격을 통일 */
    position: relative;
  }
  .text-5 {
    position: relative; 
    bottom: -24px; 
  }
  .text-6 {
    position: relative; 
    bottom: -24px; 
  }

  /* 768px 이상 화면에서 가로 한 줄로 표시 */
  @media (min-width: 768px) {
    .text-5 {
      white-space: nowrap; /* 텍스트 줄바꿈 방지 */
      display: flex; 
      justify-content: center; 
      align-items: center; 
      position: relative;
    }
  }

  .div-down {
    position: relative; 
    top: -70px; 
  }
  .items6 {
    margin-top: 128px; 
    position: relative;
  }
  .div-up {
    position: relative; 
    top: -70px; 
  }
  .next-button {
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 150px;
  }
  .item {
    margin-top: 10px;
  }
}

/* 결과 페이지 스타일 */
@media (max-width: 767px) {
  .result-container {
    width: 100%;
    max-width: full;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  .result-content .grid > div {
    width: 142px;
    height: 200px;
    border-radius: 20px;
    bottom: -40px;
    top: 10px;
  }
  .text{
    bottom: -82px;
    position: relative;
  }
  .next-btn {
    position: relative;
    top: 74px;
  }
  .back-button {
    top: -15px;
    margin-left: 45px;
    width: 40px; 
    height: 40px; 
    position: absolute;
  }
}

/* 결과 페이지 스타일 */
@media (min-width: 768px) {
  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 50px;
  }

  .result-content {
    width: 651px;
    height: 724px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
    position: relative;
    margin-top: 50px;
    margin-bottom: 130px;
    padding: 32px;
    border-radius: 20px;
  }

  .result-container .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 32px;
  }

  .result-content .grid > div {
    width: 161px;
    height: 230px;
    border-radius: 20px;
  }

  .result-content .grid > div img {
    border-radius: 8px;
  }

  .back-button {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    top: -10px;
    position: relative;
  }
  .next-btn {
    position: relative;
    top: 56px;
  }
  .text{
    bottom: -48px;
    position: relative;
  }
}

/* 온도 display 스타일 */
.temperature-display {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  font-family: 'Varela', sans-serif;
  font-size: 1.125rem; /* text-lg */
  font-weight: 700; /* font-bold */
}

/* 버튼 스타일 */
.button-style {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.32px;
}

/* 메인 페이지 전용 스타일 */
.mainpage-temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  display: inline-flex;
  align-items: center;
}

.mainpage-temperature .mainpage-degree-symbol {
  font-size: 64px;
  line-height: 64px;
  position: relative;
  top: -10px;
  margin-left: 2px;
}

.mainpage-body {
  overflow-x: hidden;
}

/* 기본 전역 폰트, 폰트 크기, 색상 설정 */
.mainpage-body {
  font-family: 'Noto Sans KR', sans-serif; /* 기본 폰트 패밀리 */
  font-size: 16px; /* 기본 폰트 크기 */
  color: #121212; /* 기본 폰트 색상 */
  line-height: 1.5; /* 기본 줄 간격 */
}

/* 기본 폰트 스타일 */
.mainpage-text,
.mainpage-span,
.mainpage-div {
  font-size: 16px; /* 기본 텍스트 크기 */
  color: #121212; /* 기본 텍스트 색상 */
}

/* 제목 스타일 */
.mainpage-title,
.mainpage-subtitle,
.mainpage-heading,
.mainpage-subheading,
.mainpage-heading-small,
.mainpage-heading-large {
  font-family: 'Varela', sans-serif; /* 제목에 사용할 폰트 패밀리 */
  color: #121212; /* 제목 기본 색상 */
  font-weight: bold; /* 제목에 굵은 글꼴 적용 */
}

/* 링크 스타일 */
.mainpage-link {
  color: #4d4d4d;
  text-decoration: none;
}

.mainpage-link:hover {
  text-decoration: underline;
}

/* 버튼 스타일 */
.mainpage-button {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* 메인 페이지 전용 스타일 */

/* 토스트 알림 스타일-1 */
.label-style {
  color: #4d4d4d;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.28px;
}

/* 토스트 알림-1 */
.custom-toast {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* 토스트 알림-2 */
.toast-message {
  color: #4d4d4d;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  height: 52px;
  background-color: rgba(229, 229, 229, 0.6);
  border-radius: 12px;
  padding: 0 16px;
}

/* 토스트 알림 - 버튼 밑줄제거 */
.no-underline {
  text-decoration: none; /* 밑줄 제거 */
}
